[rewrite_local]
^https?:\/\/.*?\.(mp4|m3u8|mov).* url script-request-header https://raw.githubusercontent.com/hfip/Sr.QX/refs/heads/main/video_sniffer.js
^https?:\/\/.*?\/(video|stream|playlist|hls).* url script-request-header https://raw.githubusercontent.com/hfip/Sr.QX/refs/heads/main/video_sniffer.js

[mitm]
hostname = *.akoam.*, *.fasel*, *.video.*, *.stream.*, *.fushaar.*
